.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.content-div{
    width: 100%;
    /*overflow-y: scroll;*/
}
.tab-content{
    width: 50%;
    padding-top: 20px;
    height: 100%
}
#observer{
    /*overflow-y: scroll;*/
    height: 100%;
}
.submit-box{
    margin-bottom: 10px;
}
.form-box{
    height: 85%;
    border: #E6E6E6 solid 1px;
    border-radius: 3px;
}
.form-box>form{
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
}
.CodeMirror {
    border: 1px solid black;
    font-size: 15px
}
#code{
    /*min-height: 700px;*/
}