<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>observer-main</title>

    <!-- Bootstrap core CSS -->
    <link href="/statics/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/statics/css/sidebars.css" rel="stylesheet">
    <link href="/statics/css/main.css" rel="stylesheet">
</head>
<body>



<main>

    {{ template "sidebars" }}


    <div class="content-div m-5">
        <div class="jumbotron">
            <h1>Observer</h1>
            <p>{{ .welcome_info }}</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">More+</a></p>
        </div>
    </div>

</main>

</body>
</html>
